<mat-grid-list cols="2" rowHeight="100vh">
    <mat-grid-tile>
        <h2>This is Login Page!</h2>
    </mat-grid-tile>
    <mat-grid-tile>

        <mat-list>
            <div mat-subheader>Profile Information</div>

            <mat-list-item>
              <mat-icon mat-list-icon>account_circle</mat-icon>
              <div mat-line>Deden Ferdiansyah</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>mobile_friendly</mat-icon>
              <div mat-line>08112438282</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>alternate_email</mat-icon>
              <div mat-line>mcdeden@gmail.com</div>
            </mat-list-item>
          </mat-list>

    </mat-grid-tile>
  </mat-grid-list>